h2{
  color: rgb(255,255,255);
  font-family: cursive;georgia;
  font-style: italic;
  font-weight: bold;
  display: contents;flex;
}
h1{
  font-family: Yanone Kaffeesatz;
  font-size: 3.95em;
  display:flex;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.centered {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
 bottom: 8px;
 left: 16px;
}
